.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(255,255,255,.8);
}

.overlay .vcenter {
	position: absolute;
	width: 100%;
	top: 40%;
	background-color: rgba(255,255,255,.7);
	text-align: center;
}

.overlay .vcenter div, h1 {
	padding-bottom: 1em;
}