<template name="go">
	<div class="row">
		<div class="col-md-9">
			<div style="position:relative;">
				{{>board}}

				{{#if gameRunning}}
					<div style="position: absolute; top:0; width:100%; text-align:center;">
						<b>{{turn}}</b>
					</div>
				{{/if}}

				{{#unless gameRunning}}
					<div class="overlay" id="boardOverlay">
						<div class="message">
							{{#if winner}}
								<h1>Game finished</h1>
								<div>{{result}}</div>
								<div><a href="/">New game</a></div>
							{{/if}}
							{{#unless myOpponent}}
								<h1>Game created</h1>
								<div>Waiting for an opponent...</div>
								<div><i>(insert small cute waiting thingie here)</i></div>
								<br/>
								<div>Share this link with a friend: <b><a href="{{gameUrl}}">{{gameUrl}}</a></b></div>
							{{/unless}}
						</div>
					</div>
				{{/unless}}
			</div>
		</div>

		<div class="col-md-3">
			<div>Game: {{gameId}} ({{gameState}})</div>
			<div>You are {{me}} ({{myColor}})</div>

			{{#if gameRunning}}
				<div>Your opponent is {{myOpponent}}</div>
				<div style="margin-top:1em;">
					{{> score}}
				</div>

				<div style="margin-top:1em;">
					<button class="btn" id="pass">Pass</button>
					<button class="btn" id="resign">Resign</button>
				</div>
			{{/if}}
		</div>
	</div>
</template>

<template name="board">
	<div id="board" style="position:relative;"></div>
</template>

<template name="score">
	<div class="checkbox">
		<label>
			<input type="checkbox" id="showScore"/>
			Show territories
		</label>
	</div>
	<div id="scoreMode"></div>
</template>