<template name="go">
	<div class="row">
		<div class="col-md-9">
			{{>board}}

			{{#if myOpponent}}
			{{else}}
				<div class="overlay">
					<div class="vcenter">
						<h1>Game created</h1>
						<div>Waiting for an opponent...</div>
						<div><i>(insert small cute waiting thingie here)</i></div>
						<br/>
						<div>Share this link with a friend: <b><a href="{{gameUrl}}">{{gameUrl}}</a></b></div>
					</div>
				</div>
			{{/if}}
		</div>

		<div class="col-md-3">
			<div>Game: {{gameId}}</div>
			<div>You are {{me}} ({{myColor}})</div>

			{{#if myOpponent}}
				<div>Your opponent is {{myOpponent}}</div>
				<div>Turn: {{turn}}</div>
				<div>Captured pieces: {{captureCountBlack}} black / {{captureCountWhite}} white</div>
			{{/if}}
		</div>
	</div>
</template>

<template name="board">
	<div id="board" style="position:relative;"></div>
</template>